.form {
  max-width: 400px;
  margin-left: 156px;
  margin-top: 36px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

input[type='number'] {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin-bottom: 16px;
}

fieldset {
  border-radius: 4px;
  stroke-width: 1px;
  stroke: #808080;
  display: flex;
  width: 360px;
  margin: 0;
  padding-right: 0;
  margin-right: 0;
}

legend {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

input[type='radio'] {
  margin-left: 48px;
}

button {
  /* display: block; */
  width: 100%;
  margin-top: 15px;
  background-color: #4e75ff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
}

button:hover {
  background-color: #6c8cff;
}

.nav-link-timer {
  margin: 20px 20px;
  display: block;
  font-weight: 800;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-size: larger;
}

.nav-link-timer:hover,
.nav-link-timer:focus {
  color: #747bff;
}
