@import url('./reset.css');
@import url('./timer.css');
@import url('./snackbar.css');

.nav-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
  align-items: start;
  margin: 30px;
}

.nav-link {
  display: block;
  font-weight: 800;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-size: larger;
  border: 2px solid black;
  padding: 10px;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}

body {
  font-family: 'Montserrat', sans-serif;
}
