@import url('./reset.css');
@import url('./timer.css');

/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

.nav-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
  align-items: start;
  margin: 30px;
}

.nav-link {
  display: block;
  font-weight: 800;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-size: larger;
  border: 2px solid black;
  padding: 10px;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}
